{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "class-methods-use-this": "off",
    "prefer-rest-params": "off",
    "arrow-body-style": "warn",
    "taro/custom-component-children": "off",
    "eqeqeq": "off",
    "radix": "off"
  },
  "parser": "babel-eslint"
  }
